@import '../../variables.scss';
.section_05 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;

    .title {
        font-size: 2.6rem;
        font-weight: 500;
        text-align: center;
    }
    .subtitle {
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        color: #4F5665;
        max-width: 38rem;
        margin-bottom: 1rem;
    }

    .divAnalysisCards {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: $main-orange;
        padding: 1.5rem;
    }
}

@media (max-width: 1145px) {
    .section_05 {
        .divAnalysisCards {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}